<template>
  <div id="app">
    <Chatbox/>
    <CorpusExplorer/>
  </div>
</template>

<script>
import Chatbox from './components/Chatbox.vue'
import CorpusExplorer from './components/CorpusExplorer.vue'
export default {
  name: 'app',
  components: {
    Chatbox,CorpusExplorer
  }
}
</script>

<style>

</style>
