<template>
  <div id="chatbox-area">
    <beautiful-chat
      :participants="participants"
      :titleImageUrl="titleImageUrl"
      :onMessageWasSent="onMessageWasSent"
      :messageList="messageList"
      :newMessagesCount="newMessagesCount"
      :isOpen="isChatOpen"
      :close="closeChat"
      :open="openChat"
      :showEmoji="false"
      :showFile="false"
      :showTypingIndicator="showTypingIndicator"
      :colors="colors"
      :alwaysScrollToBottom="alwaysScrollToBottom"
      :messageStyling="messageStyling"
      @onType="handleOnType">
      <!-- need to add changes to some elements using slots -->
      </beautiful-chat>
  </div>
   
 

</template>

<script>
import CloseIcon from 'vue-beautiful-chat/src/assets/close-icon.png'
import OpenIcon from 'vue-beautiful-chat/src/assets/logo-no-bg.svg'
import FileIcon from 'vue-beautiful-chat/src/assets/file.svg'
import CloseIconSvg from 'vue-beautiful-chat/src/assets/close.svg'
import bot from '../bot.js'
import dfi from '../api.js'
import { mapGetters } from 'vuex'

const SIGNIN = 'signin';
const SIGNOUT = 'signout';

  export default {
    name: 'Chatbox',
    data() {
      return {
        allDocs: undefined,
        basicProfile: undefined,
        signInError: undefined,
        signoutSuccess: undefined,
        userTokenId: undefined,
        authResponse: undefined,
        currentUser: undefined,
         icons:{
        open:{
          img: OpenIcon,
          name: 'default',
        },
        close:{
          img: CloseIcon,
          name: 'default',
        },
        file:{
          img: FileIcon,
          name: 'default',
        },
        closeSvg:{
          img: CloseIconSvg,
          name: 'default',
        }},
        participants: [
          {
            id: 'bot',
            name: 'Chatbot',
            imageUrl: require('../assets/bot.png')
          }
        ],
         // the list of all the participant of the conversation. `name` is the user name, `id` is used to establish the author of a message, `imageUrl` is supposed to be the user avatar.
        titleImageUrl: '', // removed icon from the header
        messageList: [
        ], // the list of the messages to show, can be paginated and adjusted dynamically
        newMessagesCount: 0,
        isChatOpen: false, // to determine whether the chat window should be open or closed
        showTypingIndicator: '', // when set to a value matching the participant.id it shows the typing indicator for the specific user
        colors: {
          header: {
            bg: '#4e8cff',
            text: '#ffffff'
          },
          launcher: {
            bg: '#4e8cff'
          },
          messageList: {
            bg: '#ffffff'
          },
          sentMessage: {
            bg: '#4e8cff',
            text: '#ffffff'
          },
          receivedMessage: {
            bg: '#eaeaea',
            text: '#222222'
          },
          userInput: {
            bg: '#f4f7f9',
            text: '#565867'
          }
        }, // specifies the color scheme for the component
        alwaysScrollToBottom: false, // when set to true always scrolls the chat to the bottom when new events are in (new message, user starts typing...)
        messageStyling: true // enables *bold* /emph/ _underline_ and such (more info at github.com/mattezza/msgdown)
      }
    },
    computed:{
      ...mapGetters([
            'suggestions',
        ]),
    },
    mounted: function(){
       
        this.$store.commit('setSuggestions', ["get corpus"])
      //open the chat and send in the initial greeting using bot object
      this.openChat()
      // send initial greeting as the first message
      this.sendMessage(bot.initialGreeting, 'text')
      this.showTypingIndicator = 'bot'
      let that = this
      let checkGauthLoad = setInterval(function(){
        that.isInit = that.$gAuth.isInit
        that.isSignIn = that.$gAuth.isAuthorized
        if(that.isInit) {
          clearInterval(checkGauthLoad)
           if(that.$gAuth.GoogleAuth.isSignedIn.get()){
             var username = that.$gAuth.GoogleAuth.currentUser.get().getBasicProfile().getGivenName()
             that.sendMessage("Hey, " + username + ", you are already signed in", 'text', this.adminSuggestions)
           } else {
              that.sendMessage("you can also signin and signout", 'text',this.adminSuggestions )
           }
           that.showTypingIndicator = ''
        }
        }, 1000);    
    },

    methods: {
     
      async parseUserMessage(messageObject){

        // if the user intended to login
        if(messageObject.data.text == SIGNIN){
          // check if user is already logged in
          if(this.$gAuth.GoogleAuth.isSignedIn.get()){
            var username = this.$gAuth.GoogleAuth.currentUser.get().getBasicProfile().getGivenName()
            this.sendMessage("Hey, " + username + ", you are already signed in", 'text')
          } else {
             //log the user in
            await this.handleClickSignIn()
            // verify the user token
            await this.verifyUserIdToken()
            //if basic profile received on successful login AND the token was successfully
            // verified in the back end
            //console.log(this.currentUser)
            //console.log(this.basicProfile)
            this.showTypingIndicator = ''
            if(this.currentUser && this.basicProfile){
              this.sendMessage("Hi! " + this.basicProfile.getName() + " you are sucessfully signed in", 'text')
            } else {
              this.sendMessage("Error loggin in please try again", 'text')
            }

          }

          //post sign in flow will go on
        //else leave it up to the bot to reply
        } else if(messageObject.data.text == SIGNOUT){
          if(!this.$gAuth.GoogleAuth.isSignedIn.get()){
            this.sendMessage("you are not logged in", 'text')
          } else {
            // sign user out
            await this.handleClickSignOut()
            if(this.signoutSuccess){
              this.sendMessage("you are sucessfully signed out", 'text')
            } else {
              this.sendMessage("error signing out, please try again", 'text')              
            }
          }
        } else if (messageObject.data.text == "get corpus"){
            dfi.getAllDiscoveryDocs()
            this.$store.commit('openCorpus', true);
        } 
        else {
          this.getBotReply(messageObject);
        }
      },
      getBotReply (messageObject){
        // console.log("gettting reply")



        this.showTypingIndicator = 'bot';
        this.$http.post("/user-query", {
          // this is the users message
              query: messageObject.data.text
            })
            .then((response) => {
              this.showTypingIndicator = '';
              console.log("heloooo")
              var res = response.data
              var result = response.data.output
              console.log(output)
              console.log(result)
              if(result.action="CALL_DISCOVERY_OR_LUCENE"){
                console.log("disc or lucene")
                var luceneResults = JSON.parse(result.userDefined.lucene)
                var discoveryResults = result.userDefined.discovery
                console.log(luceneResults)
                if(luceneResults.length > 0){
                  console.log(luceneResults.result)
                  this.sendMessage(luceneResults[0].result.HighLight, 'text')
                  this.sendMessage(luceneResults[0].result.url, 'text')

                } else {
                  this.sendMessage(reply)
                }
              } 

              // if(res.length > 0){
              //   var reply = res[0].answer.join('\n')
              // }

              
            })
            .catch(() => {
              this.showTypingIndicator = '';
              this.sendMessage("I am not sure what that means", 'text')              
              //this.sendMessage("There was an error processing your query, please contact the administrator")
            })
          
      },
      async verifyUserIdToken(){
        // make a call to backend to verify google user id token
        // received on calling getAuthResponse()
        await this.$http.post('/tokensignin', {
          //fields required by api method
          token: this.authResponse.id_token
        })
        .then((response)=> {
          //token verificaiton complete
          // user id of new or existing user is received
          this.currentUser = response.data.userId

        })
        .catch((error)=>{
          // error requesting token verification
          console.log("token verificaiton failed")
          //console.log(error)
        })
      },
      sendMessage (text, type, suggestions) {
        if (text.length > 0) {
          this.newMessagesCount = this.isChatOpen ? this.newMessagesCount : this.newMessagesCount + 1
         var  s = this.suggestions
         console.log(s)
          var messageObj = {
              author: `bot`, 
              type: type,
              id: 1,
              isEdited: false,
              data: { 
                  text: '',
                  meta: ''
              }, 
              suggestions: []
          }
        
          messageObj.data.text = text
          messageObj.suggestions = s
          this.onMessageWasSent(messageObj)
        }
      },
      onMessageWasSent (messageObject) {
        // called when user sends a message
        // message appended to the conversation
        this.messageList = [ ...this.messageList, messageObject ]
        
        // if the author was the user the get bots reply
        if(messageObject.author == 'me'){
          // get reply from the bot
          this.parseUserMessage(messageObject)
        }

        
        // ping that user has sent 
      },
      openChat () {
        // called when the user clicks on the fab button to open the chat
        this.isChatOpen = true
        this.newMessagesCount = 0
      },
      closeChat () {
        // called when the user clicks on the botton to close the chat
        this.isChatOpen = false
      },
      handleScrollToTop () {
        // called when the user scrolls message list to top
        // leverage pagination for loading another page of messages
      },
      handleOnType () {
        // console.log('Emit typing event')
      },
      editMessage(message){
        const m = this.messageList.find(m=>m.id === message.id);
        m.isEdited = true;
        m.data.text = message.data.text;
      },
       async handleClickSignIn(){
            this.showTypingIndicator = 'bot'
            await this.$gAuth.signIn()
            .then(GoogleUser => {
                // On success do something, refer to https://developers.google.com/api-client-library/javascript/reference/referencedocs#googleusergetid
                // console.log('user', GoogleUser.getBasicProfile())
                this.isSignIn = this.$gAuth.isAuthorized
                // set the basic profile
                this.basicProfile =  GoogleUser.getBasicProfile();
                this.authResponse = GoogleUser.getAuthResponse();

                // should handle back end token verification before reporting success in signin
                // once signin is complete must handle session establishemnt with the server to
                // persist the user
            })
            .catch(error  => {
                // On fail do something
                this.showTypingIndicator = ''
                this.signInError = error
            })

        },
        
        async handleClickSignOut(){
            this.showTypingIndicator = 'bot'
          //you can use promise from v1.1.0 also
          await this.$gAuth.signOut()
          .then(() => {
            // things to do when sign-out succeeds
            this.showTypingIndicator = ''
            this.signoutSuccess = true
          })
          .catch(error  => {
            this.showTypingIndicator = ''
            // things to do when sign-out fails
            this.signoutSuccess = false
          })
        },
    }
}
</script>

<style scoped>
.chatbox-area {
  z-index: 1;
}
</style>
