<template>
    

    
    <section>
        <b-modal :active.sync="isComponentModalActive"
            has-modal-card full-screen :can-cancel="false">
            <!-- <modal-form v-bind="formProps"></modal-form> -->
             <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title container">DFI Master Corpus <span class="is-pulled-right">{{qna.length}} documents</span></p>
                    <!-- <button class="button is-dark">
                        <b-icon pack="mdi" icon="window-close" type="is-warning"></b-icon>
                    </button> -->
                </header>

                <!-- <QuestionForm/> -->
                

                <section class="modal-card-body" >
                     <b-loading :is-full-page="false" :active.sync="isDocLoading" :can-cancel="false"></b-loading>
                <!-- <ol id="qna"> -->
                    <!-- <li > -->
              <div class="container">
                    


                <b-tabs type="is-boxed" @change="onTabChange">
                    <b-tab-item label="Corpus"  icon-pack="mdi" icon="file-document-box">

                         <section v-if="!isLoading && showForm">
               
                <b-notification :closable="false" id="qForm" class="qFormMargin">
               
                <b-field :label-position="labelPosition">
                    <template slot="label">
                    Question 
                    <!-- <span class="has-text-primary is-italic">style</span> -->
                    </template>
                    <b-input v-model="question"></b-input>
                </b-field>
                <!-- <b-field horizontal>
                <p class="control">
                <button class="button is-info is-pulled-right" outlined>
                Add another question
                </button>
                </p>
                </b-field> -->

                <b-field label="Answer" :label-position="labelPosition">
                    <b-input maxlength="" type="textarea" v-model="answer"></b-input>
                </b-field>


                <b-field v-if="isNewQuestion"><!-- Label left empty for spacing -->
                    <p class="control text-align-right">
                        <button :class="{ 'loading': isSendigQuestion, 'button': true, 'is-info': true }" @click="submitQuestion">
                        Save Question
                        </button>
                    </p>
                </b-field>
                 <b-field v-else><!-- Label left empty for spacing -->
                    <p class="control text-align-right">
                        <button :class="{ 'loading': isSendigQuestion, 'button': true, 'is-warning': true }" @click="submitEditRequest" :loading="isSendigQuestion">
                        Update the Question
                        </button>
                    </p>
                </b-field>

                </b-notification>


                

            </section>

                        <section v-for="(res,index) in qna" :key="res.id">
                            <b-collapse class="card" :open="index == 0 ? true: false" aria-id="contentIdForA11y3">
                            
                                <div
                                    slot="trigger" 
                                    slot-scope="props"
                                    class="card-header"
                                    role="button"
                                    aria-controls="contentIdForA11y3"
                                    >
                                    <p class="card-header-title">
                                        {{index+1}})  {{res.properties.question[0]}}
                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon
                                            :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <p v-for="ans in res.properties.answer" :key="ans.id">
                                            {{ans}}
                                        </p>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <!-- <a href="#" v-scroll-to="'#qForm'">Scroll to #element</a> -->
 
                                    <a class="card-footer-item" @click="populateEditForm(res.id, res.properties.question[0], res.properties.answer)">Edit</a>
                                    <a class="card-footer-item" @click="deleteDoc(res.id)">Delete</a>
                                </footer>
                            </b-collapse>
                        </section>
                         <!-- <div id="element">
                                        Hi. I'm #element.
                                    </div> -->
                    </b-tab-item>
                    <b-tab-item label="Crawler" icon-pack="fas" icon="bug">
                       
                          <!-- <b-notification :closable="false"> -->

                               
            <!-- <b-input placeholder="No label"  v-model="url" expanded></b-input></b-field>
                             <b-input type="text" placeholder="" v-model="url" expanded></b-input> -->
                                  <!-- <b-input type="text" placeholder="alias" v-model="name" expanded></b-input> -->
                            

                                    <!-- <b-numberinput min="0" type="is-light" controls-position="compact" ></b-numberinput> -->
                            <!-- <b-input type="number" class="is-small" min="0" placeholder="0" v-model="depth"></b-input> -->

                                    <!-- <p class="control">
                                        <button class="button is-success" @click="crawl">Crawl</button>
                                    </p> -->
  
                            <b-notification :closable="false">
                                   
                                <template>
    <section>
       
        <b-field label="Site URL">
            <b-input type="text" v-model="url"
                placeholder="https://www.digitalfinanceinstitute.org/"
               >
            </b-input>
        </b-field>
        <b-field > 
            <b-numberinput placeholder="depth of the website" min="0" v-model="depth"></b-numberinput>
         <b-button expanded outlined @click="crawl"

                type="is-info"
            icon-left="bug">
            Crawl
        </b-button>
        </b-field>
    
    </section>
</template>
                                <b-loading :is-full-page="false" :active.sync="isCrawling" :can-cancel="false">
                                    <b-icon
                                        pack="fas"
                                        icon="sync-alt"
                                        size="is-large"
                                        custom-class="fa-spin">
                                    </b-icon>
                                </b-loading>
                            </b-notification>
                             <b-table
                            :data="resourceData.length == 0 ? [] : resourceData"
                             ref="table"
                            :bordered="isBordered"
                            :striped="isStriped"
                            :narrowed="isNarrowed"
                            :hoverable="isHoverable"
                            :loading="loadingResources"
                            :focusable="isFocusable"
                            :mobile-cards="hasMobileCards">

                            <template slot-scope="props">
                                
                                <b-table-column field="id" label="ID" width="40" numeric>
                                    {{ props.row.id }}
                                </b-table-column>

                                   <!-- <b-table-column field="name" label="Alias" centered  :class="{ 'is-info': (props.row.default == true) ? true : false }">
                                    {{ props.row.name }}
                                </b-table-column> -->

                                <b-table-column field="origin" label="Origin" centered>
                                    {{ props.row.origin }}
                                </b-table-column>

                                <!-- <b-table-column field="depth" label="Crawl Depth" centered>
                                    {{ props.row.depth }}
                                </b-table-column> -->
                                
                                <!-- <b-table-column field="validUrls" label="Valid URLs" centered>
                                    {{ props.row.validUrls }}
                                </b-table-column> -->

                                    <!-- <b-table-column field="invalidUrls" label="Invalid URLs" centered>
                                    {{ props.row.invalidUrls }}
                                </b-table-column> -->

                                <b-table-column field="addedOn" label="Crawled On" centered>
                                    <span class="tag is-success">
                                        {{ new Date(props.row.createdAt).toLocaleString() }}
                                    </span>
                                </b-table-column>

                                <b-table-column field="Action" label="Action" centered>

                                        <b-button outlined @click="onResourceDelete(props.row.id)" :value="props.row.id" :loading="deleting"
                                                type="is-danger"
                                            icon-left="delete">
                                            Delete
                                        </b-button>

            
                                </b-table-column>
                            </template>
                   </b-loading>

                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                icon="emoticon-sad"
                                                size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>Nothing here.</p>
                                    </div>
                                </section>
                            </template>
                        </b-table>

                    </b-tab-item>
                    <b-tab-item label="Analytics" icon="chart-bar">

                    </b-tab-item>
                </b-tabs>

            
                    
                    </div>
                </section>
                
                <footer class="modal-card-foot">
                    <div class="container butons">


                        <b-upload v-model="file">
                            <a v-if="!isLoading" :class="{ 'is-loading': isUploading}" class="button is-primary">
                                <b-icon icon="upload"></b-icon>
                                <span>Upload corpus</span>
                            </a>
                        </b-upload>
        <!-- <div class="tags">
            <span v-for="(file, index) in dropFiles"
                :key="index"
                class="tag is-primary" >
                {{file.name}}
                <button class="delete is-small"
                    type="button"
                     @click="deleteDropFile(index)">
                </button>
            </span>
        </div> -->  
                    <button class="button is-info"  v-if="!isLoading" type="button" @click="generatePDF">Generate PDF</button>
                    <button class="button is-info"  v-if="!isLoading" type="button" @click="toggleForm">Add question</button>                    
                    <button class="button is-pulled-right is-danger" type="button" @click="onClose">Close</button>

     


                    </div>
                </footer>
            </div>
        </b-modal>
    </section>
</template>


<script>
import { mapGetters } from 'vuex'
import api from '../api.js'
import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
pdfMake.vfs = pdfFonts.pdfMake.vfs;



export default {

    data() {
        const url = "https://www.digitalfinanceinstitute.org/"
        const data = []
        return {
            data,
            deleting: false,
            file: [],
            canUpload: true,
            showPdf: false,
            uploadSuccess: "file uploaded successfully",
            uploadFailure: "error uploading file",
            labelPosition: 'on-border',
            question: "",
            answer: "",
            showForm: false,
            url,
            depth: 0,
            name,
            protocol:"",
            isEmpty: false,
            isBordered: true,
            isStriped: true,
            isNarrowed: false,
            isHoverable: true,
            isFocusable: false,
            isLoading: false,
            hasMobileCards: true,
            isNewQuestion: true,
            isDeleting: false,
            isSendigQuestion: false,
             defaultOpenedDetails: [1],
        showDetailIcon: true,
        selected: null,
        }
    },
    computed: {
        ...mapGetters([
            'isComponentModalActive',
            'allDiscoveryDocs',
            'qna',
            'isDocLoading',
            'isUploading',
            'uploadFinished',
            'resourceData',
            'loadingResources',
            'isCrawling',
            'resourceGroups'
          
        ])
       
    },
    mounted: function(){
        api.getAllResources()
        this.data = this.resourceData
    },
    methods: {
        
         toggle(row) {
                this.$refs.table.toggleDetails(row)
            },
        onClose(){
            this.$store.commit('openCorpus', false)
            this.$store.commit('setResourceData', [])
            this.$store.commit('setQna', undefined)    
            this.$store.commit('setAllDiscoveryDocs', undefined)
            this.$store.commit('setResults', undefined)
            this.showForm = false
        },
        deleteDropFile() {
                this.dropFiles = []
            },
        generatePDF(){
            var docs = this.$store.getters.qna
            var content = []

            for(var i = 0; i <docs.length; i++){
                var doc = docs[i]
                var temp = {
                    text: doc.properties.question[0],
                    style: 'subheader'
                }
                content.push(temp)
                console.log(doc.properties.answer)

                content = content.concat(doc.properties.answer)
                // content = content.push({text: "", margin=[0,20]})
                // console.log(content)
            }
            
            var dd = {
                content: content,
                styles: {
                    header: {
                        fontSize: 18,
                        bold: true
                    },
                    subheader: {
                        fontSize: 15,
                        bold: true
                    },
                    quote: {
                        italics: true
                    },
                    small: {
                        fontSize: 8
                    }
                }
            }
            pdfMake.createPdf(dd).download();
        },
        toggleForm(){
            this.isNewQuestion = true
            this.showForm = true
        },
         async deleteDoc(docId){
            await api.deleteDFIQuestion(docId)

            this.$store.commit('setQna', undefined)    
            this.$store.commit('setAllDiscoveryDocs', undefined)
            this.$store.commit('setResults', undefined)
            //api.getAllDiscoveryDocs()
            // must wait because IBM only takes 1 rps
            setInterval(api.getAllDiscoveryDocs(),2000);
        },
        async submitQuestion(){
            this.isSendigQuestion = true
            console.log(this.question)
            console.log(this.answer)
            if(this.question.length > 0 && this.answer.length> 0){
                await api.addQuestionToCorpus({
                    question:this.question,
                    answer:this.answer
                })
                this.showForm = !this.showForm
                this.question = ""
                this.answer = ""
            }
            this.isSendigQuestion = false
            
            // this.showForm = !this.showForm
        },
        populateEditForm(docId, question, answers){
            // answers is a list of answers
            this.isNewQuestion = false
            this.showForm = true
            this.question = question,
            this.answer = answers.join('\r\n');
        },
        async submitEditRequest(){
            this.isSendigQuestion = true

            console.log(this.question)
            console.log(this.answer)
             if(this.question.length > 0 && this.answer.length> 0){
                await api.editQuestionInCorpus({
                    question:this.question,
                    answer:this.answer
                })
            }
            this.question = ""
            this.answer = ""
            this.showForm = !this.showForm
            this.isSendigQuestion = false
        },
        crawl(){
            console.log(this.selected);
            console.log(this.url)
            console.log(this.depth)
            this.protocol = ""
            // api.crawlWebsite(this.protocol+this.url, this.depth, this.name)
            api.updateIndexWebsite(this.protocol+this.url, this.depth, this.name)
        },
        async onResourceDelete( id){
            // this.$store.commit('setResourceData', [])
            this.deleting = false

            console.log(event.target)
            console.log(id)            
            await api.deleteResource(id)
            this.deleting = false
            this.data = []
            api.getAllResources()
        },
        onTabChange(index){

            console.log(index)
            if(index == 1){
                console.log(this.data)
                console.log(this.resourceData)
                this.data = this.resourceData
            }

        }
    },
    watch: {
        file(){
            // console.log(this.file)
            // api.test()
            api.sendFile(this.file)
        },
        qna(){
            this.showPdf = true
        },
        uploadFinished(){
            console.log(this.uploadFinished)
             var temp = this.uploadFinished
             temp.position = "is-bottom"
             temp.duration = 4000
             temp.type = this.uploadFinished.type
             temp.message = this.uploadFinished.message

             console.log(temp)
             this.$toast.open(temp)
        },
        selected(){
            this.data = []
            console.log(this.selected)
            console.log(this.resourceData)
            for(var i =0;i<this.resourceData.length;i++){
                if(this.resourceData[i].name == this.selected){
                    console.log(this.resourceData[i])
                this.data.push(this.resourceData[i])
                }
            }
            console.log(this.data)

        }

    }

}
</script>


<style scoped>
/* @import 'buefy/dist/buefy.css'; */
.qFormMargin{
    margin-bottom:2rem;
}
</style>
